body
{
	color:white;
	background-color:pink;
}
h1
{
	font-family: Elephant;
}
h2
{
    font-family: Arial;
}
h3
{
	font-family: Calibri;
}
h4
{
	font-family: Verdana;
}
h5
{
	font-family: Times new roman;
}
h6
{
	font-family: Edwardian script itc;
}
</body>



	